<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="modal-body container-fluid">
            <h1>Agregar Producto</h1>
            <div>
                <input id="name" class="form-control" placeholder="Nombre" type="text">
                <input id="width" class="form-control" placeholder="Ancho" type="number">
                <input id="height" class="form-control" placeholder="Alto" type="number">
                <input id="length" class="form-control" placeholder="Largo" type="number">
                <input id="currentQ" class="form-control" placeholder="Cantidad Actual" type="number">

            </div>
        </div> 
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="addProduct()" >Agregar</button>
</div>


<div *ngIf="error === true">
    <p>error</p>
</div>