table {
    border-collapse: collapse;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow:  0 0px 10px rgba(0, 0, 0, 0.541);
}

table tr{
    background-color: rgb(234, 194, 108);
    box-shadow: inset 0 0px 20px rgba(139, 69, 19, 0.5);
}

button {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    transition: all 0.2s ease;
    
}
button:hover {
    transform: scale(1.10);
}

#delete{
    background-color: rgba(255, 36, 36, 0.527);
    color: rgb(0, 0, 0);
    box-shadow:  0 0px 10px rgba(0, 0, 0, 0.37);
}
#delete:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 230, 230);
}

#add{
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgba(37, 255, 55, 0.856);
    color: rgb(0, 0, 0);
    box-shadow:  0 0px 10px rgb(0, 0, 0);
}
#add:hover{
    background-color:rgb(0, 255, 21);
    color: rgb(0, 0, 0);

}

#update{
    background-color: rgba(37, 139, 255, 0.781);
    color: rgb(0, 0, 0);
    box-shadow:  0 0px 10px rgba(0, 0, 0, 0.37);
}
#update:hover{
    background-color:rgb(0, 119, 255);
    color: rgb(255, 230, 230);
}

tbody{
    text-align: center;
}

th {
    background-color: rgb(94, 37, 0);
    color: aliceblue;
    text-align: center;
}


tr:nth-child(even) {
    background: rgb(240, 240, 240);

}

input {
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

tfoot {
    background: rgb(245, 245, 245);
}

td {
    margin: 10px;
}

@media (max-width: 200px) {
    th, td {
        font-size: 12px; /* Tama침o de fuente m치s peque침o */
        padding: 8px; /* Reduce el padding en pantallas peque침as */
    }
}