<button (click)="addProduct()"> Agregar Producto </button>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad Actual</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Largo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Product of productsList" id="{{Product.id}}">
            <td>{{Product.name}}</td>
            <td>{{Product.stock.quantity}}</td>
            <td>{{Product.width}}</td>
            <td>{{Product.height}}</td>
            <td>{{Product.length}}</td>
            <td><button (click)="Product.id ? delete(Product.id) : null" >Eliminar</button></td>
            <td><button (click)="Product.id ? getById(Product.id): null" >Actualizar</button></td>
        </tr>
    </tbody>
</table>
